/* global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

*:focus {
  outline: rgb(100, 99, 99) 1px solid;
  border-radius: 7px;
  outline-offset: 5px;
}

html {
  height: 100%;
  scroll-behavior: smooth;

}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
} 

/* contayner styles */
.contayner {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* contayner styles end*/
.btn__primary {
  background-color: #7296EC;
  padding: 13px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;

}

/* global styles end*/


/* header headerstyle */

/* HEADER-TOP STYLE */
.header__top {
  padding: 30px 0px 30px 0px;
  background-color: #F6F6F6;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  padding: 9px 6px 8px 6px;
  background: #fff;
  border-radius: 7px;
  margin-right: 41px;
}

.header__logo-img {
  
}

.current-lates {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.curense-rates-item {
  margin-right: auto;
  color: #555;
}

.curense-rates-item:not(:last-child) {
  margin-right: 25px;

}



.curense-reates-strong {
  color: #7296EE;
}



.header__top-search-input {
  background-color: #fff;
  color: #8D8D8D;
  padding: 14px 15px 14px 41px;
  border-radius: 60px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.59px;
  margin-right: 25px;
  background-image: url(./img/Mask.svg);
  background-repeat: no-repeat;
  background-position: 17.5px center;
}



.lang-togler {
  display: flex;
  margin-right: 25px;
  width: 70px;
  height: 36px;
  border-radius: 39px;
  background-color: #DCE6FF;
  padding: 3px;
}

.lang-togler-link {
  padding: 7px 6px;
  font-weight: 400;
  font-size: 13px;
  color: #A6A6A6;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}



.lang-togler-link-active {
  background-color: #FFFFFF;
  color: #000;
}

.header__top-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 18.96px;
  color: #fff;
}

/* HEADER-TOP STYLE END*/

/* HEADER BOTTOM STYLES */

.header__bottom {
  background-color: #fdfbfb;
}

.header__bottom-navigation {
  padding: 25px 0px 15px 0px;
  border-bottom: 1px solid #7F7F7F;
  margin-bottom: 40px;
}

.header__bottom-list {
  display: flex;
  flex-direction: row;
}

.header__bottom-list-item{
  margin-top: 5px;
  margin-bottom: 5px;
}

.header__bottom-list-item:not(:last-child) {
  margin-right: 34.80px;

}

.header__bottom-list-item-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.33px;
  color: #7F7F7F;
}


.header__bottom-banner {
  margin-top: 40px;
  display: flex;
}

.header__bottom-banner-img {
   width: 100%;
   height: auto;
}

/* HEADER BOTTOM STYLES END*/


/*  header styles end*/

/* SITE MAIN STYLES */
.site-main {
  margin-top: 50px;
}
/* NEW-CARDS STYLES */
.news-cards-container{}

.news-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-bottom: -10px;

}
/* NEV-CARDS-ITEM STYLES */
.newscard-item {
  width: 393px;
  padding: 20px 18px 18px 17px;
  border-radius: 15px;
  background-color: #F6F6F6;
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.nenws-cards-item-title {
   margin-bottom: 10px;
}

.nenws-cards-item-title-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  color: #000;
}

.nenws-cards-item-text {
  font-size: 16px;
  font-weight: 400; 
  line-height: 22px;
  color: #4A4B4C;
  margin-bottom: 15px;

}
.nenws-cards-item-img {
  width: 395px;
  height: 165px;
  object-fit: cover;
  margin-top: auto;
  margin-bottom: 15px;
}
.nenws-cards-item-futer {
  display: flex;
  align-items: center;

}
.nenws-cards-item-futer-img {
  width: 20px;
  height:20px;
  object-fit: contain;
  margin-right: 10px;
}
.nenws-cards-item-futer-text,
.nenws-cards-item-futer-time {
  font-size: 12px;
  line-height: 14.22px;
  color: #5E5F61;
}

.nenws-cards-item-futer-time {
  margin-left: 5px;
}
/* NEW-CARDS-ITEM STYLES */

/* NEW-CARDS STYLES END*/

/* SITE MAIN STYLES END*/